.body, html{
	margin: 0;
	padding: 0;
	background: url(../img/defaultBack.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

}

.container{
	max-width: 1700px;
	margin: 0px auto;	
}

@media (max-widh:1200px){
	.container{
		max-width: 970px;
	}
}

@media (max-widh:992px){
	.container{
		max-width: 750px;
	}
}

@media (max-widh:767px){
	.container{
		max-width: none;
	}
}


.kotya{
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;

}
 .kotya h1{
	font-family: 'Roboto Mono', monospace;
	color:#0f2338;
	font-size: 50pt;
}

.kotya #yesbtn{
	width: 100px;
	height: 100px;
	border: 30px;
	background:#fe5f55;
	border: 2px;
	border-radius: 24px;
	font-size: 25px;
	color:#faf3dd;
	cursor:pointer;

}

.kotya #nobtn{
	width: 100px;
	height: 100px;
	border: 30px;
	background: #fe5f55;
	border: 2px;
	border-radius: 24px;
	font-size: 25px;
	color:#faf3dd;
	cursor:pointer;

}

.kotya #yesbtn:hover{
	background:#90ddf0;
	border: 2px solid #4ce0b3;
	color:#2b3a67;
}

.kotya #nobtn:hover{
	background:#90ddf0;
	border: 2px solid #4ce0b3;
	color:#2b3a67;
}
